<h2>New Project</h2>

<%= form_for @changeset, project_path(@conn, :create), fn f -> %>

  <%= render "form.html", f: f %>

<div class="input_wrapper center_block">
  <%= submit "Create" %>
  <a href="<%= project_path(@conn, :index) %>">Cancel</a>
</div>
<% end %>
