<h2><%= @project.name %></h2>

<div class="row">
  <div class="col-lg-6">
    <a href="<%= project_path(@conn, :edit, @project.id) %>">Edit</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
  Started on: <%= @project.started_on %>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
  Pom estimates: <%= @project.pom_estimates %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
  <%= @project.description %>
  </div>
</div>
